ul{
  margin: 0;
  padding: 0;
}

li{
  display: inline-block;
  vertical-align: top;
}

a{
  text-decoration: none;
}

.div_program{



}

/* 카타고리 선택 */
.div_program_category{
  width: 220px;
  height: 1000px;
  border: 1px solid black;
  float: left;
  margin-left: 180px;
  position: fixed;

}


/* 리스트 */
.div_program_list{
  width: 900px;
  height: 1000px;
  margin-left: 420px;
  float: left;

}

aside{
  position: absolute;
  right: 150px;
  top: 130px;
  position: fixed;
}

.div_program_list_top{
  position: fixed;
  width: 620px;
  padding: 30px;
  border: 1px solid gray;
  background-color: white;
  z-index: 100;
}

.div_program_list_main{
  margin-top: 30px;

}

.div_list{
  width: 680px;
  height: 150px;
  border: 1px solid gray;
}

.pro1{
  float:left;
  margin-right: 10px;
  width:180px;
  height:150px;
  position: relative;
}

.main_image{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(50%,50%);


}

.image_vertical{
  max-width: 200px;
  max-height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%,-50%);
}
.pro2{
  float:left;
  display: table;
  width:360px;
  height:150px;

}

.abc{
  height: 100px;
  display: table-cell;
  vertical-align: middle;
}

.abc div{
  margin:20px 0;

}

.pro3{
  float:left;
  width:110px;
  height:150px;
  text-align: center;
  line-height: 140px;
}

.li_order{
  float: left;
}

.li_search{
  float: right;

}

.li_program_list{
  margin-bottom: 20px;
}

.li_ok{
  float:right;
  margin-right: 40px;
}
