*{
  margin: 0px;
  padding: 0px;
}
.clear{
  display: block;
  height: 10px;
  clear: both;
}
.item_all{
  position: relative;
  width: 830px;
  margin: 0px auto;
}
.div_item1{
  width: 800px;
}
.div_item1 table th{
  padding: 10px 15px;
  background-color: #f3f4f8;
}
.div_item1 table td{
  text-align: center;
  padding: 20px 15px 10px;
}
.div_center{
  padding: 20px;
}
.h{
  padding: 10px 12px;
  background:#f3f4f8;
}
.div_body{
  padding: 20px;
}
#title1{
  text-align: left;
  width: 450px;
}
#title2{
  width: 110px;
}
#title3{
  width: 80px;
}
#title4{
  text-align: right;
  width: 110px;
}
#program{
  text-align:left;
}
.div_item2{height: 170px;}
.item2_left{
width: 330px;
  float: left;
  padding: 0px 15px;
}
.item2_right{
  width: 330px;
  float: left;
  padding: 0px 15px;
}
.item2_right a{color: #f26656;
    text-decoration: none;}
.item2_right button{
  width: 100%;
  background-color: #ca0;
  padding: 15px;
}
.left{float: left; width: 58%;}
.right{float: left; width: 41%;}
