*{
  margin: 0px;
  padding: 0px;
}
.clear{
  display:block;
}
p{
  margin-bottom: 30px;
}
/* 전체를 감싸는 몸체 */
#div_main_body{
  position: relative;
  width: 1100px;
  margin: 0px auto;
}

/* 메인 중심 */
#div_main{
  position: relative;
  text-align: center;
  float: left;
  margin: 0px auto;
  width: 700px;
  padding: 20px 10px;
}
#div_main img{
  width: 100%;
}
/* 설명란 또는 구매후기나 평가 적는 부분 */
#see{
  text-align: left;
}
#see h3{
  font-size: 18px;
}
#see .see_body{
  margin-top: 10px;
}
#see .see_body b{
  font-size: 14px;
  margin: 5px 5px 0px 0px;
  padding:5px 10px;
  border:1px solid #e6e6e6;
}


/* 사이드 구매쪽 */
#div_aside{
  float: left;
  border: 1px solid lightgray;
  width: 240px;
  margin: 0px auto;
  margin-left: 30px;
  margin-top: 19px;
}
#div_aside *{
  padding: 10px;
}
#div_aside h3{
  width: 100%;
  height: 20px;
  padding: 22px 30px;
}
#div_aside input{
  width: 100%;
  color: #F23005;
  margin-bottom: 3px;
  border: 1px solid #F23005;
  font-size: 12px;
  background-color: white;
}
#pay{
  width: 600px;
  height: 450px;
  border: 1px solid #F23005;
}
#myHeader ul{
  list-style: none;
}
#myHeader ul li{
  display: inline-block;
}
#myHeader ul li a{
  border: 1px solid white;
  color: white;
}
#cansel{
  border: 1px solid gray;
}
.see_body ol{
  list-style: decimal;
  padding-left: 10px;
}
/* 스크롤 내리면서 상단에 고정버튼 생기기게 하는 부분 */
.buttons {
  width: 650px;
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  width: 664px;
  z-index: 1;
  position: fixed;
  top: 130px;
}
