*{
  margin: 0px;
  padding: 0px;
}
.clear{
  display:block;
}
p{
  margin-bottom: 30px;
}
/* 전체를 감싸는 몸체 */
#div_main_body{
  position: relative;
  width: 1100px;
  margin: 0px auto;
}

/* 메인 중심 */
#div_main{
  position: relative;
  text-align: center;
  float: left;
  margin: 0px auto;
  width: 700px;
  padding: 20px 10px;
}
#div_main img{
  width: 100%;
}
/* 설명란 또는 구매후기나 평가 적는 부분 */
#see{
  text-align: left;
}
#see h3{
  font-size: 18px;
}
#see .see_body{
  margin-top: 10px;
}
#see .see_body b{
  font-size: 14px;
  margin: 5px 5px 0px 0px;
  padding:5px 10px;
  border:1px solid #e6e6e6;
}


/* 사이드 구매쪽 */
#div_aside{
  float: left;
  border: 1px solid lightgray;
  width: 240px;
  margin: 0px auto;
  margin-left: 30px;
  margin-top: 19px;
}
#div_aside *{
  padding: 10px;
}
#div_aside h3{
  width: 100%;
  height: 20px;
  padding: 22px 30px;
}
#div_aside input{
  width: 100%;
  color: #F23005;
  margin-bottom: 3px;
  border: 1px solid #F23005;
  font-size: 12px;
  background-color: white;
  cursor: pointer;
}
#pay{
  width: 100%;
  height: 450px;
  border: 1px solid #F23005;
}
#myHeader ul{
  list-style: none;
}
#myHeader ul li{
  display: inline-block;
  width: 24%;
}
#myHeader ul li a{
  width: 100%;
  border: 1px solid white;
  color: white;
}
#cansel{
  border: 1px solid gray;
}
.see_body ol{
  list-style: decimal;
  padding-left: 10px;
}
.pay_table table{
  width: 100%;
  border: 1px solid black;
}
.pay_table table th,.pay_table table td{
  border: 1px solid blue;

}
.pay_table table th,.pay_table table td{
  padding: 10px;
}
.pay_table table th{
  width: 30%;
  height: 80px;
}
#sol{
  width: 9%;
}
.h_review{
  border: 1px solid #F23005;
}
.review_content{
  width: 96.3%;
  height: 100px;
  border: 1px solid gray;
  text-align: left;
  padding: 0px 12px;
}
#program_qna{
  width: 100%;
  border: 1px solid black;

}
.div_qna{
  width: 100%;
  border:1px solid #F23005;
}
.qna_head{
  width: 100%;
    height: 20px;
    text-align: initial;
    background: lightgray;
    margin-bottom: 4px;
}
.qna_subject{
  display: inline-block;
  width: 50%;
  text-align: left;
}
.qna_id{
  display: inline-block;
  width: 24%;
  text-align: right;
}
.qna_regist_day  {
  display: inline-block;
  width: 24%;
  text-align: right;
}
.qna_body{
  text-align: left;
    width: 100%;
    height: 100px;
}
.qna_buttons{
  width: 100%;
  text-align: right;
}

/* 스크롤 내리면서 상단에 고정버튼 생기기게 하는 부분 */
.buttons {
  width: 650px;
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  width: 664px;
  z-index: 1;
  position: fixed;
  top: 130px;
}

/* 별점 */
.starR1{
    background: url('http://localhost/HELF/program/img/star.jpg') no-repeat -49px 0;
    background-size: auto 100%;
    width: 13px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR2{
    background: url('http://localhost/HELF/program/img/star.jpg') no-repeat -62px 0;
    background-size: auto 100%;
    width: 13px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR1.on{background-position:0 0;}
.starR2.on{background-position:-13px 0;}
