#div_introduction{
  margin: 0 auto;
  border:2px solid black;
  width: 450px;
}
#div_header{
  margin: 0 auto;
  width: 500px;
  height: 100px;
  background-color: #8E6F80;
  border: 1px solid lightgray;
  text-align: center;
  font-size: 24px;
  font-family: "맑은 고딕";
}
