#div-body{
  width: 1100px;
  position: relative;
  margin: 0px auto;
}
section{
  float: left;
  margin: 0px auto;
  margin-top: 20px;
  width: 800px;
  position: relative;
}
#div_introduction{
  margin: 0 auto;
  border:2px solid black;
  width: 800px;
  font-family: cursive;
}
#div_header{
  margin: 0 auto;
  width: 800px;
  height: 50px;
  border: 1px solid lightgray;
  text-align: center;
  font-size: 24px;
  font-family: "맑은 고딕";
}
#aside_introduction{
  padding-top: 20px;
}
