*{  margin: 0px;  padding: 0px;}
ul{  list-style: none;}
.div-bmi{  width: 500px;  margin: 0px auto; background-color: lavenderblush;}
.div_btn{  text-align: center;}
label{ background-color: linen; display: inline-block;  width: 100px;}
h4{  margin: 8px;}
ul{  margin-left: 3px;}
ul li{  margin-top: 7px;}
#p_bmi{background-color: lightcoral;}
#bmi_btn{background-color: #F23005;}
