*{  margin: 0px;  padding: 0px;}
ul{  list-style: none;}
label{  display: inline-block;  width: 100px;}
.div-bmi{  width: 500px;  margin: 0px auto;  background-color: lemonchiffon;}
.div_btn{  text-align: center;}
h4{  margin: 8px;}
ul{  margin-left: 3px;}
ul li{  margin-top: 7px;}
