#content_title p {
  display: inline-block;
  font-size: 14px;
  color: #424242;
  float: right;
  padding-top: 15px;
  font-weight: normal;
}

#page_num {
  text-align: center;
  margin: 30px 0
}

#page_num li {
  display: inline;
}

.collapsible {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 0.5rem 0 1rem 0;
  /* 하늘지정값 */
  width: 847px !important;
}

.collapsible .collection {
  margin: 0;
  border: none;
}

.collapsible span.badge {
  margin-left: auto;
}

.collapsible-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  background-color: #fff;
  /* 하늘지정값 */
  width: 847px;
  height: 40px;
  border-bottom: 0.5px solid lightgray;
  padding-top: 9px;
}

.collapsible-header span {
  font-size: 19px;
  padding-left: 15px;
}

.collapsible-header:focus {
  outline: 0;
}

/* .collapsible-header i {
  width: 2rem;
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  margin-right: 1rem;
} */
.keyboard-focused .collapsible-header:focus {
  background-color: #eee;
}

.collapsible-body {
  display: none;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 하늘지정값 */
  padding: 25px;
  width: 847px;
}

.collapsible-body span {
  display: inline-block;
  width: 800px;
  background-color: pink;
  margin-bottom: 5px;
}

/* .col1 {
  font-size: 20px;
}

.col2 {
  width: 405px;
}

.col3 {
  width: 130px;
}

.col4 {
  width: 130px;
}

.col5 {
  width: 45px;
}

.col6 {
  width: 45px;
} */

.sidenav .collapsible,
.sidenav.fixed .collapsible {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sidenav .collapsible li,
.sidenav.fixed .collapsible li {
  padding: 0;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: inherit;
  height: inherit;
  padding: 0 16px;
}

.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* .sidenav .collapsible-header i,
.sidenav.fixed .collapsible-header i {
  line-height: inherit;
} */
.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
  border: 0;
  background-color: #fff;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
  padding: 0 23.5px 0 31px;
}

.collapsible.popout {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.collapsible.popout>li {
  margin: 0 24px;
  -webkit-transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.collapsible.popout>li.active {
  margin: 16px 0;
}
