#admin {
  width: 1100px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#admin_border {
  width: 1100px;
  margin: 40px auto;
}

#snb {
  float: left;
  width: 175px;
  height: 708px;
  border: 1px solid #F23005;
  border-radius: 2px;
  box-sizing: border-box;
}

#snb_title {
  width: 174px;
  height: 120px;
  background-color: #F23005;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-sizing: border-box;
  color: white;
  text-align: center;
}

#snb_title h1 {
  padding-top: 45px;
}

#admin_menu_bar {
  padding: 15px;
}

#admin_menu_bar h2 {
  margin-top: 20px;
  color: #424242;
}

#admin_menu_bar ul {
  padding-bottom: 25px;
  border-bottom: 1px solid lightgray;
}

#admin_menu_bar #sta_ul {
  border: 0;
  margin-bottom: 5px;
}

#admin_menu_bar ul li {
  padding-top: 10px;
  padding-left: 8px;
}

#content {
  width: 870px;
  float: right;
  box-sizing: border-box;
  padding: 10px;
}

#content h1 {
  border-bottom: 2px solid #424242;
  padding-bottom: 15px;
}

.grade {
  width: 50px;
}

a:hover {
  color: lightblue;
}

#user_table {
  width: 825px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

#board1_table {
  width: 825px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

#board2_table {
  width: 825px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

#regist_table {
  width: 850px;
  border: 1px solid black;
  border-collapse: collapse;
}

#regist_table tr{
  margin: 5px;
}

#regist_table *{
  padding: 5px;

}

#td_plus{
  padding: 0;
  margin: 0;
}

#td_plus li{
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

#regist_table {
  padding: 5px;
}

#manage_table {
  width: 825px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

#user_table td {
  border: 1px solid black;
}

#board1_table td {
  border: 1px solid black;
}

#board2_table td {
  border: 1px solid black;
}

#regist_table td {
  border: 1px solid black;
}

#manage_table td {
  border: 1px solid black;
}
