/* #admin {
  width: 1300px;
  margin-top: 40px;
  margin-bottom: 40px;
} */

#admin_border {
  width: 1180px;
  margin: 0 auto;
  border: 1px solid black;

}

#snb {
  float: left;
  width: 175px;
  border: 1px solid lightgray;
  border-radius: 2px;
  box-sizing: border-box;
}

#snb_title {
  width: 174px;
  height: 85px;
  background-color: #F23005;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-sizing: border-box;
  color: white;
  text-align: center;
}

#snb_title h1 {
  padding-top: 25px;
}

#admin_menu_bar {
  padding: 15px;
}

#admin_menu_bar h2 {
  margin-top: 20px;
  color: #424242;
}

#admin_menu_bar ul {
  padding-bottom: 25px;
  border-bottom: 1px solid lightgray;
}

#admin_menu_bar #sta_ul {
  border: 0;
  margin-bottom: 5px;
}

#admin_menu_bar ul li {
  padding-top: 10px;
  padding-left: 8px;
}

#content {
  width: 975px;
  height: 1500px;
  margin-left: 30px;
  margin-top: 20px;
  float: left;
  box-sizing: border-box;
  padding: 10px;
}

#content h1 {
  border-bottom: 2px solid #424242;
  padding-bottom: 15px;
}

.grade {
  width: 50px;
}

a:hover {
  color: lightblue;
}

#user_table {
  width: 870px;
  text-align: center;
}
#user_table td{
  height: 30px;
}


#regist_table {
  width: 850px;
}

#regist_table tr{
  margin: 5px;
}

#regist_table *{
  padding: 5px;

}

#td_plus{
  padding: 0;
  margin: 0;
}

#td_plus li{
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

#regist_table {
  padding: 5px;
  border:1px solid black;
  border-radius: 10px;
}

#manage_table {
  width: 825px;
  text-align: center;
}

#user_table td {

}

#regist_table td {
}

#manage_table td {
  height: 30px;

}

#hot_program {
  width: 600px;
  height: 670px;
  margin-left: 5px;
  float: left;
}

#p_ranking {
  float: right;
  margin-top: 2px;
}

#p_ranking li{
  padding-bottom: 10px;
  text-align: center;
}

#ul_ranking {
  border:1px solid black;
  border-radius: 5px;
  height: 450px;
  padding: 10px;
}

#ul_ranking p{
  display: inline-block;
}

#ul_ranking .r1{
  width: 30px;
}
#ul_ranking .r2{
  width: 100px;
}
#ul_ranking .r3{
  width: 75px;
}
#ul_ranking .r4{
  width: 70px;
}

#container_pie{
  min-width: 550px;
  height: 470px;
  max-width: 500px;
  margin-left:20px;
  border:1px solid black;
  border-radius: 5px;
  float:left;
}
