/* table, td, tr {
  border: 1px solid gray;
  border-collapse: collapse;
} */
/* 프로그램 관리 css */
.collapsible-header {
  display: block !important;
  width: 845px;
  height: 45px;
  background-color: pink;
}

.collapsible-header #subjects {
  display: inline-block;
  float: left;
  font-size: 17px !important;
  margin-left: 7px;
  border-radius: 2px;
}

.collapsible-header #shop_type {
  display: inline-block;
  float: right;
  font-size: 14px !important;
  margin-right: 10px;
  border-radius: 2px;
}

.program_modify_form #options {
  width: 275px;
  height: 28px;
}

.program_modify_form #prices {
  width: 140px;
  height: 28px;
}

li {
  margin-bottom: 5px;
}

.program_modify_form button {
  width: 65px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #ddd;
  background-color: #F2F2F2;
}

/* 결제 관리 css */
#pay_table {
  padding-top: 50px;
  width: 870px;
  text-align: center;
  font-size: 15px;
}

#pay_table span {
  height: 30px;
}

#pay_first_tr {
  height: 40px;
  background-color: #F23005;
  color: white;
}

#pay_first_span {
  display: inline-block;

  padding-top: 7px;
}

#pay_table select {
  width: 80px;
  height: 28px;
  border: 0px;
}

.btn_modify {
  width: 60px;
  height: 27px;
  background-color: white;
  border: 1px solid #F23005;
  color: #F23005;
  border-radius: 2px;
}

/* search */
#list_search {
  float: left;
  height: 30px;
  padding-top: 10px;
}

#list_search select {
  float: left;
  width: 80px;
  height: 28px;
  border: solid 1px #cccccc;
  border-radius: 2px;
}

#list_search #list_search4 {
  float: left;
  margin-left: 3px;
}

#list_search #list_search4 input {
  width: 125px;
  height: 26px;
  border: solid 1px #cccccc;
  border-radius: 2px;
}

#list_search #list_search5 {
  float: left;
  margin-left: 5px;
  margin-top: 1px;
}

#list_search #list_search6 {
  float: left;
  margin-left: 5px;
  margin-top: 1px;
}

input[type=submit], input[type=button] {
  width: 60px;
  height: 29px;
  border-radius: 2px;
  background-color: white;
  border: 1px solid #cccccc;
  margin-top: -1px;
}

#pay_table .col1 {
  width: 170px !important;
  background-color: red;
}

#pay_table .col2 {
  width: 90px;
  background-color: orange;
}

.col3 {
  width: 90px;
  background-color: yellow;
}
.col4 {
  width: 90px;
  background-color: green;
}
.col5 {
  width: 90px;
  background-color: blue;
}
.col6 {
  width: 90px;
  background-color: purple;
}
.col7 {
  width: 90px;
  background-color: red;
}
